/* =================Geral============= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;      
    justify-content: center;
    background: var(--gradientes-gradiente-hover, linear-gradient(90deg, #9F55FF 0%, #FF46B9 100%));   
    font-family: 'Outfit', sans-serif;   
    padding: 70px 297px;    
    overflow: hidden;
}

/* =================CARD CONTAINER============= */

#container {
     display: flex;
     flex-direction: column;
     padding: 64px 96px;
     align-items: center;
     justify-content: center;
     gap: 36px;
     border: 6px solid #9747FF;

     border-radius: 16px;
     background: var(--cores-cinza-dark, #1E1F28);
     box-shadow: 0px -3px 22px 0px rgba(0, 0, 0, 0.35);     
}

/* =================HEADER============= */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 654px;   
}

header img:first-child {
    width: 85.5px;
    height: 44px;
}

header button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border-radius: 4px;
    background: var(--gradientes-gradiente-normal, linear-gradient(90deg, #8323FF 0%, #FF2DAF 100%));
    padding: 8px 16px;

    border: none;
    cursor: pointer;
    transition: .9s ;
}

header button:hover {
    background: var(--gradientes-gradiente-hover, linear-gradient(90deg, #9F55FF 0%, #FF46B9 100%));
}

header button h1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; /* 125% */  
    color: #FFF;     
} 

header button div {  
    display: flex;    
    
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    padding: 7px;    
}


header button div i {        
  color:#fff;      
}

/* =================MAIN============= */
main {
    display: flex;
    gap: 36px;
}

picture img {
    width: 194px;        
    height: 291px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;  

    width: 194px ;
}

.title h1 {
    /* overflow: hidden; */
    color: #FFF;
    /* text-overflow: ellipsis; */  
   
    font-size: 18px;   
    font-weight: 300;
    line-height: 100%; /* 20px */  
}

.nots {
    display: flex;
    align-items: center;
    color: #FEEA35;
} 

.info {
    display: flex;
    justify-content: space-between;
    width: 194px;

    margin: 8 0;
}


.date {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #8B8D9B;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}

/* =================TRAILERS============= */
.trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    width: 194px;
    padding: 8px 16px;   

    border-radius: 4px;
    background:  #2B2B37;    
    color: #FFF;
    border: none;

    cursor: pointer;
    transition: .9s ;
}

.trailer:hover {
    background: var(--cores-cinza-mdio, #373745);
}

.trailer p {
    color: var(--cores-branco, #FFF);
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; /* 125% */
}
